@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
}

.pcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*background: #111111;*/
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Line */
.container .ringer {
    position: relative;
    border-right: 4px solid transparent;
    width: 150px;
    height: 150px;
    margin: -30px;
    border-radius: 50%;
    border-top: 4px solid #00bcd3;
}
/* Head of line */
.container .ringer::before{
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #00bcd3;
    box-shadow:
            0 0 0 5px #24ecff33,
            0 0 0 10px #24ecff22,
            0 0 0 20px #24ecff11,
            0 0 40px #24ecff,
            0 0 50px #00cadc;
}
/* Circle Position & Animation */
.container .ringer:nth-child(1){
    animation: circle2 2s linear infinite;
}
.container .ringer:nth-child(2){
    animation: circle1 2s linear infinite;
}
.container .ringer:nth-child(3){
    position: absolute;
    top: -66.66px;
    animation: circle 2s linear infinite;
}
/* Loading Text */
.container p{
    overflow: hidden;
    position: absolute;
    color: #111;
    font-size: 32px;
    font-family: consolas;
    bottom: -120px;
    letter-spacing: 4px;
}
/* Animation */
@keyframes circle{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes circle1{
    0%{
        transform: rotate(120deg);
    }
    100%{
        transform: rotate(480deg);
    }
}
@keyframes circle2{
    0%{
        transform: rotate(240deg);
    }
    100%{
        transform: rotate(600deg);
    }
}